.picture {
	border-radius: 5%;
	width: 250px;
	height: 250px;
}

.Ecology {
	padding-left: 5vw;
	padding-right: 5vw;
}

.container {
	margin-top: 2vh;
	display: flex;
	flex-wrap: wrap;
}

.waste-list {
	font-size: 100%;
	padding-left: 0vw;
	padding-right: 0vw;
	text-align: left;
}

.left {
	flex: 1;
}

.right {
	flex: 1;
}
