@import url("https://fonts.googleapis.com/css?family=Bangers");


.container {
	margin-top: 2vh;
	display: flex;
}

.logo {
	flex: 1;
}

.title {
	font-family: 'Bangers', cursive;
	flex: 1;
}

h1 {
	color: black;
}


h2 {
	font-size: 100%;
	color: #003688;
}


