@import url("https://fonts.googleapis.com/css?family=Zilla+Slab");

.Header {
	background-color: #C4F597;
	background-image: url("./pictures/background.jpg");
	background-size: cover;
}

.container {
	margin-top: 2vh;
	display: flex;
}

#HeaderContainer {
	padding-top: 3vh;
	padding-bottom: 3vh;
	margin-left: 1vh;
}

.logo {
	flex: 1;
}

.logo img {
	width: 150px;
	height: 150px;
}

.title {
	font-family: 'Zilla Slab', cursive;
	vertical-align: middle;
	text-align: center;
	flex: 1;
}

#mainTitle {
	color: black;
	font-size: 6.5vh;
}


#subTitle {
	font-size: 4vh;
	/*color: #003688;*/
	color: black;
}

.banner img {
	width: 100vw;
	height: 300px;
	object-fit: cover;
}
